html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  background-color: rgb(97, 208, 216);
  color: yellow;
  border: none;
  border-radius: 5px;
  font-size: 40px;
  padding: 10px 60px;
}
